
@font-face {
    font-family: 'digitalixregular';
    src: url('pixel_intv-webfont.woff2') format('woff2'),
         url('pixel_intv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'digitalixregular';
    src: url('digitalix-webfont.woff2') format('woff2'),
         url('digitalix-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pacfontregular';
    src: url('pac-font-webfont.woff2') format('woff2'),
         url('pac-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.title {
	margin-top: 25px;
	font-size: 3.5vw;
	text-align: center;
	font-family: 'pacfontregular';
}

#parent {
	position: absolute;
	display: flex;
	width: 80%;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 1vw;
	padding: 0;
}

#row {
	position: relative;
	margin: auto;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
	text-align: center;
}
p {
	font-family: 'digitalixregular';
	font-size: 1vw;
	text-transform: uppercase;
}

#maze-container {
	margin: auto;
	margin-top: 0;
	padding: 0;
	left: 0;
	right: 0;
	background-color: #181819;
/*	transform:scale(0.7);*/
	font-size: 0;
	position: relative;
	display: block;
	transition: 0.5s;
}

.pacman {
	width: 2.4vw;
	height: 2.4vw;
	display: inline-block;
	background-image: url('pacman.gif');
	background-repeat: round;
}

#down {
	transform: rotate(90deg);
}
#right {
	transform: none;
}
#left {
	transform: rotate(180deg);
}
#up {
	transform: rotate(270deg);
}

.blank {
	width: 2.4vw;
	height: 2.4vw;
	display: inline-block;
}

.ghost {
	width: 2.4vw;
	height: 2.4vw;
	display: inline-block;
	background-repeat: round;
}
#red {
	background-image: url('redghost.png');
}
#blue {
	background-image: url('blueghost.png');
}
#orange {
	background-image: url('orangeghost.png');
}
#pink {
	background-image: url('pinkghost.png');
}

.wall {
	padding: 0;
	margin: 0;
	width: 2.4vw;
	height: 2.4vw;
	display: inline-block;
	background-image: url('wall.png');
	background-repeat: round;
}

#game-over-screen {
	font-family: 'digitalixregular';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 4vw;
	color: red;
	z-index: 2;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
	position: absolute;
	top: 40%;
/*	transition: 0.5s;*/
}

#start-screen {
	font-family: 'digitalixregular';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 4vw;
	color: white;
	z-index: 2;
	text-align: center;
	left: 0;
	right: 0;
	top: 45%;
	position: absolute;
	margin: auto;
	display: block;
}

#restart {
	text-transform: lowercase;
	margin-top: 0;
	color: black;
	transition: 0.5s;
}

.more {
	margin-top: 1vw;
	transition: 0.5s;
}

#start:hover {
	cursor: pointer;
	display: block;
	color: red;
}

#restart:hover {
	cursor: pointer;
	color: red;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  	animation: blink 1s step-start 0s infinite;
  	-webkit-animation: blink 1s step-start 0s infinite;
}


.coin {
	width: 2.4vw;
	height: 2.4vw;
	display: inline-block;
	background-image: url('coin.png');
	background-repeat: round;
}

div {
	margin: 0;
	padding: 0;
}